{{template "base" .}}

{{define "css-title"}}
    <title>Home</title>
{{end}}
{{define "content"}}
    <h1>Bienvenido a la pagina de inicio</h1>
    <p>Esta pagina esta predefinida para el usuario que ingresa</p>
    <p>lost artk</p>
    <p>arawak</p>
{{end}}